<label for="username">Username</label>
<input type="text" name="username" id="username" 
    <% if (locals.user && locals.user.username) { %>
        value="<%= user.username %>"
    <% } %>
>

<% if (locals.email) { %>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" 
    <% if (locals.user && locals.user.email) { %>
        value="<%= user.email %>"
    <% } %>
    >
<% } %>

<label for="password">Password</label>
<input type="text" name="password" id="password" 
    <% if (locals.user && locals.user.password) { %>
        value="<%= user.password %>"
    <% } %>
>