<div class="auth-container">
    <div class="auth-item">
        <h2 class="page-header">Login</h2>
        <form action="/auth/login" method="post">
            <%- include("_form_fields.ejs", {part: 1, email: false, formValues: locals.userFormData?.login}) %>
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>
    <div class="auth-item">
        <h2 class="page-header">Register</h2>
        <form action="/auth/register" method="post">
            <%- include("_form_fields.ejs", {part: 2, email: true, formValues: locals.userFormData?.register}) %>
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
    </div>
</div>