<% if (locals.user?.isAdmin) { %>
    <div class="btn-row">
        <a href="/cats/edit/<%= cat.id %>" class="btn btn-primary">Edit</a>
        <%- include("../partials/deleteForm.ejs", {url: `/cats/${cat.id}`}) %>
    </div>
<% } %>