<% if (locals.user) { %>
    <button type="button" 
    data-is-favorite="<%= cat.isFavorite %>" 
    data-cat-id="<%= cat.id %>" 
    onclick="favoriteButtonHandler(this)" >
        <% if (locals.cat.isFavorite) { %>
            Remove from Favorites
        <% } else { %>
            Add to Favorites
        <% } %>
    </button>
<% } %>