<h2 class="page-header">Most loved cats</h2>
<% if (locals.noTopCats > 0) { %>
    <div id="carousel" class="carousel-container">
        <div class="carousel-item">
            <div class="carousel-image-container">
                <img class="carousel-image">
            </div>
            <div class="carousel-details">
                <div class="carousel-details-item" id="title"></div>
                <div class="carousel-details-item" id="description"></div>
                <div class="carousel-details-item">
                    <div id="num-favorites">10</div>
                    <div>users love this cat</div>
                </div>
            </div>
    </div>
    <div class="carousel-option-container">
        <% for(let i = 0; i < noTopCats; i++) {%>
            <div class="carousel-option-item" data-index="<%= i %>" onclick="carouselHandler(this)"></div>
            <% } %>
            <i class="fi fi-br-arrow-left" id="arrow-left"></i>
            <i class="fi fi-br-arrow-right" id="arrow-right"></i>
    </div>
    </div>
    <script src="/javascript/carousel.js" defer></script>
<% } %>