<h2>New Cat</h2>

<form action="/cats" method="post">
    <%- include("_form_fields.ejs") %>
    <div >    
        <a href="/cats">Cancel</a>
        <button  type="submit">Add</button> 
    </div>
</form>